[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=test
Comment=
Exec=xfce4-terminal --geometry 100x25+0+0 -T TEST -e /home/user/glowny.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

